@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shikhar Azure Web Application</h1>
    <p>My Name is Shikhar Gupta and my student id is 500236676</p>
</div>
